html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
}

.container {
  @media (min-width: $lg) {
    width: 942px; 
    margin-left: auto;
    margin-right: auto;  
  }
}