:root {
  --box-border-color: #d1d1d1;
  --input-border-color: #979797;
  --text-color: #2e2e2e;
  --hero-text: #ffffff;
  --brand-color: #ef7d7d;
  --promo-bg: #f5f5f5;

  --radius: 6px;
}


// Media Queries

$md: 640px;
$lg: 980px;