.promo {
  background: var(--promo-bg);
  padding: 34px 14px 0;
  margin-bottom: 100px;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 26px;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.02rem;
    margin-bottom: 60px;
  }

  &__search {
    display: flex;
    justify-content: center;
    width: 234px;
    margin: 0 auto 56px;
    border-radius: var(--radius);
    overflow: hidden;
    border: 1px solid var(--input-border-color);

    &::after {
      content: "";
      height: 42px;
      width: 42px;
      display: block;
      background: url(../../assets/lupa.svg) var(--brand-color) no-repeat;
      background-size: 18px;
      background-position: center center;
    }
  }

  &__search-input {
    height: 42px;
    width: 192px;
    border: 0;
    border-radius: 0;
    padding: 12px;
    &:focus {
      outline: 0;
    }
  }

  &__img {
    text-align: center;
  }

  @media (min-width: $lg) {
    padding: 44px 0 0;
    margin-bottom: 136px;

    .container {
      display: grid;

      grid: 1fr / 2fr 1fr;

      grid-gap: 0;
    }

    &__title {
      font-size: 2.6rem;
    }

    &__description {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }

    &__img {
      margin-top: -64px;
      text-align: right;

      img {
        height: 100%;
      }
    }
    &__description {
      margin-bottom: 24px;
    }
    
    &__search {
      margin: 0 0 28px;
      &::after {
        height: 46px;
        width: 46px;
      }
    }

    &__search-input {
      height: 46px;
    }
  }
}
